/* 通用样式处理 */
@import './normalize.less';

.d-g-page {

}

.m-c-dialog {
  .el-dialog__header {
    padding: 20px 16px 0;
  }
  .el-dialog__body {
    padding: 16px;
  }
  .el-dialog__footer {
    padding: 0 16px 20px;
  }
}
